body{
    background: url(/img/BackgroundGreenSpace.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}



.selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7em;
}


.fighter{
    width: 15em;
    height: 25em;
    
}

.fighter img{
    width: 50%;
    height: 50%;
    
}


@font-face {
    font-family: get_schwifty;
    local("get_schwifty");
    url(get_schwifty.ttf);
    
  }

p{
    font-family: get_schwifty;
    font-size: 40px;
    color: lime;
}


