body{
    background: url(/img/BackgroundGreenSpace.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}



.selector{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7em;
    width: 80%;
    height: 45%;
    margin-left: 10em;
}


.fighter{
    width: 15em;
    height: 25em;
    
}

.fighter img{
    width: 50%;
    height: 50%;
    
}


@font-face {
    font-family: get_schwifty;
    local("get_schwifty");
    src: url('/fonts/get_schwifty.ttf');
    
  }

p{
    font-family: get_schwifty;
    font-size: 25px;
    color: lime;
}

h1{
    font-family: get_schwifty;
    font-size: 25px;
    color: lime;
}